.logo-container {
    padding: var(--spacing-80) var(--spacing-40) var(--spacing-40) var(--spacing-100);
}

.header-link {
    display: flex;
    gap: 2rem;
    position: relative;
    min-height: 56px;
    align-items: center;
    font-family: var(--headline-font-Family), sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1.5px;
    color: var(--surface-secondary-text);
    padding: var(--spacing-20) var(--spacing-40) var(--spacing-20) var(--spacing-100);
}

.header-link:hover {
    cursor: pointer;
}

.header-link.active {
    background-color: var(--surface-primary-background);
}

.header-link.active > .three-dots-vertical, .header-link:hover > .three-dots-vertical{
    opacity: 1;
    gap: 4px;
    -webkit-transition: 300ms ease-in;
    -moz-transition: 300ms ease-in;
    -o-transition: 300ms ease-in;
    transition: 300ms ease-in;
}

.header-link.active > .three-dots-vertical > .dot-1, .header-link:hover > .three-dots-vertical > .dot-1 {
    top: 0px;
}

.header-link.active > .three-dots-vertical > .dot-3, .header-link:hover > .three-dots-vertical > .dot-3 {
    top: 0px;
}

.header-mobile-menu-container {
    display: none;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--surface-primary-background);
    padding: var(--spacing-40) var(--spacing-60);
    gap: 2rem;
}

.social-media-container-dark {
    display: flex;
    gap: 1rem;
}

.social-media-container-light {
    display: none;
    gap: 1rem;
}

.social-media{
    padding: 1px;
    color: var(--button-primary-text);
    background: var(--brand-gradient-300);
    border-radius: var(--icon-border-radius);
    -webkit-transition: background 1s ease-out ;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}

.social-media:hover {
    background: var(--brand-gradient-200);
    -webkit-transition: background 1s ease-in ;
    -moz-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
    transition: background 1s ease-in;
    cursor: pointer;
}

.social-media-wrapper {
    display: flex;
    width: 16px;
    height: 16px;
    background-color: var(--surface-primary-background);
    padding: var(--spacing-10) var(--spacing-10);
    border-radius: var(--icon-border-radius);
}

/* Mobile, Tablet, Small Laptop*/
@media screen and (max-width: 1200px) {

    .header-links-container {
        display: none;
    }

    .header-link {
        padding: var(--spacing-30) var(--spacing-60) var(--spacing-30) var(--spacing-30);
        font-size: 1.5rem;
        line-height: 2rem;
        border-bottom: solid 1px var(--border-divider);
    }

    .header-link.active > .three-dots-vertical, .header-link:hover > .three-dots-vertical{
        gap: 2px;
    }

    .header-mobile-icon-container {
        display: flex;
        max-width: 24px;
        padding: var(--spacing-20) var(--spacing-30);
    }

    .header-mobile-links-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: 1000;
        height: calc(100% - 80px);
        background-color: rgb(0, 0, 0, .5);
        margin: var(--spacing-80) 0 0 0;
    }

    .header-mobile-links {
        height: 100%;
        width: 80%;
        background-color: var(--surface-primary-background);
        border-top: solid 1px var(--border-divider);
    }
    
    .footer-container {
        width: 80%;
        align-items: center;
        padding: var(--spacing-40) 0;
    }

    .header-link > .three-dots-vertical {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .social-media-container-dark {
        display: none;
    }

    .social-media-container-light {
        display: flex;
    }
}