/* Header */

.logo-container {
    padding: var(--gap-xl) 0 var(--gap-md) var(--gap-xl);
}

.header-arrow-menu {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.header-arrow-menu > .arrow-icon {
    fill: var(--link-primary-text);
}

.header-expandable-icon {
    display: flex;
    padding: var(--gap-l) var(--gap-xs);;
    fill: var(--surface-primary-text)
}

.header-expandable-icon:hover {
    background: var(--surface-secondary-background);
    cursor: pointer;
}

.header-expandable-text {
    writing-mode: vertical-lr;
    font-family: var(--heading-font-Family), sans-serif;
    font-weight: 400;
    font-size: .8rem;
    line-height: .8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-left: var(--gap-xxs);
}

.header-expandable-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-right: 1px solid var(--border-divider);
    -webkit-transition: all .5s ease-out ;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.header-expandable-container-shrunk {
    width: 0vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-right: 1px solid var(--border-divider);
    -webkit-transition: all .5s ease-in ;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.header-links-container {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.header-link {
    display: flex;
    gap: 2rem;
    min-height: 56px;
    align-items: center;
    position: relative;
    font-family: var(--headline-font-Family), sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1.5px;
    color: var(--surface-secondary-text);
    padding: var(--gap-sm) 0 var(--gap-sm) var(--gap-xl);
}

.header-link > .three-dots-vertical {
    position: absolute;
    left: 40px;
    width: 5px;
    opacity: 0;
    gap: 0px;
    -webkit-transition: 300ms ease-out ;
    -moz-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
    transition: 300ms ease-out;
}

.header-link:hover {
    cursor: pointer;
}

.header-link.active > .three-dots-vertical, .header-link:hover > .three-dots-vertical{
    opacity: 1;
    gap: 4px;
    -webkit-transition: 300ms ease-in;
    -moz-transition: 300ms ease-in;
    -o-transition: 300ms ease-in;
    transition: 300ms ease-in;
}

.header-link.active > .three-dots-vertical > .dot-1, .header-link:hover > .three-dots-vertical > .dot-1 {
    top: 0px;
}

.header-link.active > .three-dots-vertical > .dot-3, .header-link:hover > .three-dots-vertical > .dot-3 {
    top: 0px;
}

/* Mobile Header */

.header-mobile-menu-container {
    display: none;
}

.header-mobile-container {
    display: none;
}

/* Footer */

.footer-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--surface-primary-background);
    padding: var(--gap-md) var(--gap-xl);
    gap: 2rem;
}

.social-media-container-dark {
    display: flex;
    gap: 1rem;
}

.social-media-container-light {
    display: none;
    gap: 1rem;
}

.social-media{
    top: 0px;
    position: relative;
    padding: 1px;
    color: var(--button-primary-text);
    background: var(--brand-gradient-300);
    border-radius: var(--icon-border-radius);
    -webkit-transition: All .2s ease-out ;
    -moz-transition:  All .2s ease-out ;
    -o-transition:  All .2s ease-out ;
    transition:  All .2s ease-out ;
}

.social-media:hover {
    top: -2px;
    position: relative;
    background: var(--brand-gradient-200);
    -webkit-transition:  All .2s ease-out ;
    -moz-transition:  All .2s ease-out ;
    -o-transition:  All .2s ease-out ;
    transition:  All .2s ease-out ;
    cursor: pointer;
}

.social-media-wrapper {
    display: flex;
    width: 16px;
    height: 16px;
    background-color: var(--surface-primary-background);
    padding: var(--gap-sm);
    border-radius: var(--icon-border-radius);
}

@media (prefers-color-scheme: dark) {
    .social-media-container-dark {
        display: none;
    }

    .social-media-container-light {
        display: flex;
    }
}

/* Mobile, Tablet, Small Laptop*/
@media screen and (max-width: 1200px) {

    .header-links-container {
        display: none;
    }
    
    .header-container {
        display: none;
    }

    .header-mobile-container {
        display: flex;
        flex-direction: row;
        box-shadow: var(--mobile-header-shadow);
        overflow-y: visible;
        z-index: 10000;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
    }

    .header-link {
        padding: var(--gap-md) var(--gap-l) var(--gap-md) var(--gap-l);
        font-size: 1.5rem;
        line-height: 2rem;
        border-bottom: solid 1px var(--border-divider);
    }

    .header-link.active > .three-dots-vertical, .header-link:hover > .three-dots-vertical{
        gap: 2px;
    }

    .header-mobile-icon-container {
        display: flex;
        max-width: 24px;
        padding: var(--gap-md);
    }

    .header-mobile-links-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: 1000;
        height: calc(100% - 80px);
        background-color: rgb(0, 0, 0, .5);
        margin: var(--gap-xl) 0 0 0;
    }

    .header-mobile-links {
        height: 100%;
        width: 80%;
        background-color: var(--surface-primary-background);
        border-top: solid 1px var(--border-divider);
    }
    
    .footer-container {
        width: 80%;
        align-items: center;
        padding: var(--gap-md) 0;
    }

    .header-link > .three-dots-vertical {
        display: none;
    }

    .header-expandable-container {
        display: none;
    }
}