.logo {
    padding: var(--spacing-80);
    display: flex;
    align-items: center;
}

.logo > .logo-divider {
    margin: var(--spacing-10) var(--spacing-20);
    width: 2px;
    height: 20px;
    background-color: var(--gray-dark);
}

.header-menu-container {
    display: none;
}

.menu {
    width: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu-line-1 {
    background-color: var(--green-dark);
    height: 2px;
}

.menu-line-2 {
    background-color: var(--green-dark);
    height: 2px;

}

.menu-line-3 {
    background-color: var(--green-dark);
    height: 2px;
}

.header-link {
    display: flex;
    gap: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    padding: var(--spacing-40) var(--spacing-60);
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--gray-dark);
}

.header-link:hover {
    background-color: var(--cloud-40);
    cursor: pointer;
}

.header-link.active {
    background-color: var(--cloud);
}

.header-link.active > .three-dots-vertical, .header-link:hover > .three-dots-vertical{
    opacity: 1;
    gap: 5px;
    -webkit-transition: 300ms ease-in;
    -moz-transition: 300ms ease-in;
    -o-transition: 300ms ease-in;
    transition: 300ms ease-in;
}

.header-link.active > .three-dots-vertical > .dot-1, .header-link:hover > .three-dots-vertical > .dot-1 {
    top: 0px;
}

.header-link.active > .three-dots-vertical > .dot-3, .header-link:hover > .three-dots-vertical > .dot-3 {
    top: 0px;
}

@media screen and (max-width: 1200px) {
    .logo {
        padding: var(--spacing-20)
    }

    .header-menu-container {
        display: flex;
        padding: var(--spacing-10) var(--spacing-20);
    }

    .header-link-container {
        display: none;
    }

    .header-link {
        padding: var(--spacing-30) var(--spacing-60) var(--spacing-30) var(--spacing-30);
        font-size: 1.5rem;
        line-height: 2rem;
        align-items: center;
    }

    .header-link.active > .three-dots-vertical, .header-link:hover > .three-dots-vertical{
        gap: 2px;
    }

    .header-mobile-menu-container{
        display: flex;
        justify-content: end;
        width: 100%;
        top: 0px;
        right: 0px;
        margin: var(--spacing-80) 0 0 0;
        background-color: RGB(0,0,0,.5);
        flex-direction: row;
        position: absolute;
        z-index: 1000;
        height: calc(100% - 80px);
    }

    .header-mobile-menu {
        height: 100%;
        background-color: var(--white);
    }
}