*:focus-visible {
    outline: var(--motif-primary) solid 1.5px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--spacing-10);
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--spacing-20);
}

.button-group, .link-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-20);
}

.button-primary{
    padding: 1px;
    color: var(--button-primary-text);
    background: var(--brand-gradient-300);
    -webkit-transition: background 1s ease-out ;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}

.button-primary:hover {
    background: var(--brand-gradient-200);
    -webkit-transition: background 1s ease-in ;
    -moz-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
    transition: background 1s ease-in;
    cursor: pointer;
}

.button-secondary{
    padding: 1px;
    color: var(--button-secondary-text);
    background: var(--brand-gradient-300);
    border-radius: var(--button-border-radius);
    -webkit-transition: all 1s ease-out ;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.button-secondary:hover {
    background: var(--brand-gradient-200);
    -webkit-transition: all 1s ease-in ;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    cursor: pointer;
}

.button-text-wrapper{
    font-family: var(--heading-font-Family), sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--button-primary-background);
    padding: var(--button-spacing);
    border-radius: var(--button-border-radius);
}

.link-primary {
    display: flex;
    gap: var(--spacing-10);
    color: var(--link-primary-text);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.1rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-family: var(--heading-font-Family), sans-serif;
    text-transform: uppercase;
}

.link-primary:hover {
    text-decoration: underline;
    -webkit-transition: all 1s ease-in ;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    cursor: pointer;
}

.link-primary > .arrowIcon {
    fill: var(--link-primary-text);
}

.link-secondary {
    display: flex;
    gap: var(--spacing-10);
    color: var(--link-secondary-text);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.1rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-family: var(--heading-font-Family), sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.link-primary:hover {
    text-decoration: underline;
    -webkit-transition: all 1s ease-in ;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    cursor: pointer;
}

input{
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: .3px;
}

input:hover, input:active, input:focus, input:focus-visible {
    outline: var(--border-input-hover) solid 1.5px;
}


@media screen and (max-width: 768px) {

    .button-text-wrapper{
        font-size: .9rem;
    }

    .button-group, .link-group {
        flex-direction: column;
        gap: var(--spacing-10);
    }

    .button-wrapper {
        width: 100%;
    }

    .button-primary {
        width: 100%;
    }

    .button-secondary {
        width: 100%;
    }
}