.button-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--spacing-10);
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--spacing-20);
}

.button-group, .link-group {
    display: flex;
    gap: var(--spacing-20);
}

.primary-button{
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: var(--heading-font-Family), sans-serif;
    font-weight: 600;
    text-align: center;
    color: var(--gray-dark);
    padding: var(--button-spacing);
    border-radius: var(--button-border-radius);
    box-shadow: 0px var(--spacing-5) var(--purple);
    background-color: var(--purple-light);
    top: -2px;
    position: relative;
    -webkit-transition: 50ms ease-out ;
    -moz-transition: 50ms ease-out;
    -o-transition: 50ms ease-out;
    transition: 50ms ease-out;
}

.primary-button:hover {
    box-shadow: 0px 3px var(--purple);
    top: 0px;
    position: relative;
    -webkit-transition: 50ms ease-in ;
    -moz-transition: 50ms ease-in;
    -o-transition: 50ms ease-in;
    transition: 50ms ease-in;
    cursor: pointer;
}

.secondary-button{
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: var(--heading-font-Family), sans-serif;
    font-weight: 600;
    text-align: center;
    color: var(--white);
    border-radius: var(--button-border-radius);
    background-color: var(--green-light);
    box-shadow: 0px var(--spacing-5) var(--green-dark);
    padding: var(--button-spacing);
    top: -2px;
    position: relative;
    -webkit-transition: 50ms ease-out ;
    -moz-transition: 50ms ease-out;
    -o-transition: 50ms ease-out;
    transition: 50ms ease-out;
}

.secondary-button:hover {
    box-shadow: 0px 3px var(--green-dark);
    top: 0px;
    position: relative;
    -webkit-transition: 50ms ease-in ;
    -moz-transition: 50ms ease-in;
    -o-transition: 50ms ease-in;
    transition: 50ms ease-in;
    cursor: pointer;
}

.primary-link {
    display: flex;
    gap: var(--spacing-10);
    color: var(--green-dark);
    font-weight: 600;
    text-decoration: none;
    font-family: var(--heading-font-Family), sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.primary-link > .arrowIcon {
    width: 6px;
    height: 10px;
}

@media screen and (max-width: 480px) {
    .button-group, .link-group {
        flex-direction: column;
        gap: var(--spacing-10);
    }

    .button-wrapper {
        justify-content: center;
        gap: var(--spacing-10);
    }

    [class$="-button"] {
        width: 100%;
    }

}