*:focus-visible {
    outline: var(--motif-primary) solid 1.5px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--gap-xs);
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--gap-sm);
}

.button-group, .link-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-sm);
    max-width: var(--content-max-width-narrow);
    width: 100%;
}

.button-primary{
    position: relative;
    padding: 1px;
    color: var(--button-primary-text);
    background: var(--brand-gradient-300);
    border-radius: var(--button-border-radius);
    animation: pop-out .5s cubic-bezier(.4,2,.6,1) forwards;
}

.button-primary:hover {
    position: relative;
    cursor: pointer;
    animation: pop-in .5s cubic-bezier(.4,2,.6,1) forwards;
}

.button-secondary{
    position: relative;
    padding: 1px;
    color: var(--button-secondary-text);
    background: var(--brand-gradient-300);
    border-radius: var(--button-border-radius);
    animation: pop-out .5s cubic-bezier(.4,2,.6,1) forwards;
}

.button-secondary:hover {
    position: relative;
    animation: pop-in .5s cubic-bezier(.4,2,.6,1) forwards;
    cursor: pointer;
}

.button-text-wrapper{
    font-family: var(--heading-font-Family), sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--button-primary-background);
    padding: var(--button-spacing);
    border-radius: var(--button-border-radius);
}

.link-primary {
    left: 0;
    position: relative;
    display: flex;
    gap: var(--gap-xs);
    color: var(--link-primary-text);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.1rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-family: var(--heading-font-Family), sans-serif;
    text-transform: uppercase;
    align-items: center;
     -webkit-transition: all .2s cubic-bezier(.4,2,.6,1);
    -moz-transition: all .2s cubic-bezier(.4,2,.6,1);
    -o-transition: all .2s cubic-bezier(.4,2,.6,1);
    transition: all .2s cubic-bezier(.4,2,.6,1);
}

.link-primary:hover {
    left: -5px;
    position: relative;
    -webkit-transition: all .2s cubic-bezier(.4,2,.6,1);
    -moz-transition: all .2s cubic-bezier(.4,2,.6,1);
    -o-transition: all .2s cubic-bezier(.4,2,.6,1);
    transition: all .2s cubic-bezier(.4,2,.6,1);
    cursor: pointer;
}

.link-primary > .arrow-icon {
    fill: var(--link-primary-text);
}

.link-secondary {
    left:0;
    position: relative;
    display: flex;
    gap: var(--gap-sm);
    color: var(--link-secondary-text);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.1rem;
    letter-spacing: .5px;
    text-decoration: none;
    font-family: var(--heading-font-Family), sans-serif;
    text-transform: uppercase;
    align-items: center;
    -webkit-transition: all .2s ease-in ;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.link-primary:hover {
    left: -5px;
    position: relative;
    -webkit-transition: all .2s ease-in ;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: pointer;
}

input{
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: .3px;
}

input:hover, input:active, input:focus, input:focus-visible {
    outline: var(--border-input-hover) solid 1.5px;
}


@media screen and (max-width: 768px) {

    .button-text-wrapper{
        font-size: .9rem;
    }

    .button-group, .link-group {
        flex-direction: column;
        gap: var(--gap-sm);
    }

    .button-wrapper {
        width: 100%;
    }

    .button-primary {
        width: 100%;
    }

    .button-secondary {
        width: 100%;
    }
}