#portfolio {
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: var(--surface-primary-background);
    height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    z-index: 10000;
}

.body-container {
    width: 100%;
    overflow-y: scroll;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding-small);
    gap: var(--gutter);
    z-index: 1000;
    /* border-bottom: 1px solid var(--border-divider); */
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-large);
    padding: var(--container-padding-small);
}

.bottom-container{
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    padding: var(--container-padding-small);
    border-top: 1px solid var(--border-divider);
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding-small);
    margin: 0 auto;
    gap: var(--gutter);
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        flex-direction: column;
    }

    .body-container{
        width:100%;
    }

}