#portfolio {
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: var(--surface-primary-background);
    height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    overflow-y: scroll;
    /* box-shadow: var(--container-shadow); */
    border-right: 1px solid var(--border-divider);
    z-index: 10000;
}

.header-mobile-container {
    display: none;
}

.header-links-container {
    display: flex;
    flex-direction: column;
}

.body-container {
    width:80%;
    overflow-y: scroll;
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding);
    gap: var(--spacing-40);
    z-index: 1000;
    /* border-bottom: 1px solid var(--border-divider); */
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    padding: var(--container-padding);
    padding-top: 0;
}

.bottom-container{
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    padding: var(--container-padding);
    border-top: 1px solid var(--border-divider);
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding);
    margin: 0 auto;
    gap: var(--gutter);
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
    
    .header-container {
        display: none;
    }

    .header-mobile-container {
        display: flex;
        flex-direction: row;
        box-shadow: var(--mobile-header-shadow);
        overflow-y: visible;
        z-index: 10000;
        align-items: center;
        justify-content: space-between;
    }

    .body-container{
        width:100%;
    }

}