#portfolio {
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: var(--surface-primary-background);
    height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    z-index: 10000;
}

.body-container {
    width: 100%;
    overflow-y: scroll;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    padding: var(--container-padding-medium) var(--container-padding-small);
    align-items: center;
}

.hero-intro-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    align-items: center;
    max-width: var(--content-max-width-narrow);
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    padding: 0 var(--container-padding-small) var(--container-padding-medium) var(--container-padding-small);
    align-items: center;
}

.bottom-container{
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    padding: var(--container-padding-small);
    border-top: 1px solid var(--border-divider);
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding-small);
    margin: 0 auto;
    gap: var(--gap-md);
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        flex-direction: column;
    }

    .body-container{
        width:100%;
    }

}