.logo {
    display: flex;
    align-items: center;
    padding: var(--spacing-80) var(--spacing-80) var(--spacing-40) var(--spacing-80);
    color: var(--motif-primary);
    font-family: var(--headline-font-Family), sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
}

.logo > .logo-divider {
    margin: var(--spacing-10) var(--spacing-20);
    width: 1px;
    height: 30px;
    background-color: var(--border-divider);
}

/* Mobile, Tablet, Small Laptop*/
@media screen and (max-width: 1200px) {
    .logo {
        padding: var(--spacing-20);
        font-size: 2rem;
        line-height: 2.5rem;
    }
    
    .logo > .logo-divider {
        margin: var(--spacing-10) var(--spacing-10);
        width: 1px;
        height: 20px;
        background-color: var(--border-divider);
    }
}