.menu-line-1 {
    background-color: var(--link-primary-text);
    height: 2px;
}

.menu-line-2 {
    background-color: var(--link-primary-text);
    height: 2px;

}

.menu-line-3 {
    background-color: var(--link-primary-text);
    height: 2px;
}

.menu {
    width: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}