.form-container > .heading-head, .form-container > .body-large{
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.form-body {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);
  align-items: flex-start;
}

.form-Inputs {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.form-input-field {
    min-width: 500px;
    height: 64px;
    display: flex;
    background-color: var(--surface-secondary-background);
    color: var(--surface-primary-text);
    border: solid 1px var(--border-input);
    border-radius: var(--button-border-radius);
    padding: 0 var(--gap-sm);
}

.form-feedback-container > .info-icon {
  width: 24px;
  height: 24px;
}

.form-feedback-container {
  display: flex;
  flex-direction: column;
  background-color: var(--notification-background);
  color: var(--notification-text);
  padding: var(--gap-xs);
  border-radius: var(--card-border-radius);
  gap: var(--gap-sm);
}

.form-error-message {
  display: flex;
  gap: var(--gap-xxs);
  align-items: center;
  color: var(--brand-white);
}

@media screen and (max-width: 768px){
  
  .form-body {
    flex-direction: column;
    align-items: stretch;
  }

  .form-input-field {
    min-width: 5px;
}
}