.profileImage {
    border-radius: 100%;
    width: 120px;
    height: 120px;
}

.hero-intro-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-small);
    align-items: center;
    max-width: var(--content-max-width);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    align-items: center;
}

/* .project-card > .image-wrapper {
    background-color: var(--surface-tertiary-background);
} */

.project-card {
    display: flex;
    top: 0px;
    position: relative;
    max-width: 1400px;
    /* width: calc((100% - var(--gutter))/2); */
    background-color: var(--surface-secondary-background);
    color: var(--surface-secondary-text);
    box-shadow: var(--card-shadow);
    overflow: hidden;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.project-card:hover {
    top: -2px;
    position: relative;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
}

.project-card-body {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding-medium);
    gap: var(--gutter);
}

.project-card-heading {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-small);
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-10);
}

.project-skills-entry {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-15);
    background-color: var(--surface-tertiary-background);
    color: var(--surface-tertiary-text);
}

.project-skills-divider {
    margin: 0 var(--spacing-20);
    width: 1px;
    height: 1.3rem;
    background-color: var(--surface-primary-text);
}

@media screen and (max-width: 1200px){
    .project-card {
        width: 100%;
    }

    .profileImage {
        border-radius: 100%;
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 768px){

    .hero-heading-container > .body-large{
        text-align: left;
    }

    .hero-heading-container {
        padding: 0;
        align-items: stretch;
    }
}