.hero-container > .image-wrapper {
    border-radius: var(--card-border-radius);
    background-color: var(--surface-tertiary-background);
    box-shadow: var(--card-shadow);
}

.project-hero-heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    padding: var(--container-padding-medium) var(--container-padding-large);
}

.project-section-list-container {
    display: flex;
    flex-direction: column;
}

.project-section-container {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding-large) 0;
    gap: var(--gutter-medium);
}

.project-section-heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    padding: 0 var(--container-padding-large);
}

.project-info-block-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-medium);
}

.project-info-block {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-medium);
    color: var(--surface-secondary-text);
}

.project-info-block-text {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-small);
    padding: 0 var(--container-padding-large);
}

.project-section-container > .three-dots-horizontal {
    justify-content: center;
}

.project-navigation-prev {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-10);
}

.project-navigation-next {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: end;
    gap: var(--spacing-10);
}

.project-navigation-next > .body-large {
    text-align: end;
}

/* Mobile, Tablet, Small Laptop*/
@media screen and (max-width: 1200px) {

    .project-hero-heading-container {
        padding: 0;
    }

    .project-section-heading-container {
        padding: 0;
    }

    .project-section-list-container {
        padding: 0;
    }

    .project-info-block-text {
        padding: 0;
    }

}