.project-info-block > .image-wrapper {
    padding: var(--spacing-20) 0; 
}

.hero-container > .image-wrapper {
    border-radius: var(--card-border-radius);
    background-color: var(--surface-tertiary-background);
    box-shadow: var(--card-shadow);
}

.project-hero-heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
    padding: var(--spacing-10) var(--spacing-120);
}

.project-section-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.project-section-heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    padding: var(--spacing-10) var(--spacing-120);
}

.project-info-block-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    padding: var(--spacing-10) var(--spacing-120);
}

.project-info-block {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    padding: var(--spacing-10) 0;
    color: var(--surface-secondary-text);
}

.project-section-container > .three-dots-horizontal {
    justify-content: center;
}

.project-navigation-prev {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-10);
}

.project-navigation-next {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: end;
    gap: var(--spacing-10);
}

.project-navigation-next > .body-large {
    text-align: end;
}

/* Mobile, Tablet, Small Laptop*/
@media screen and (max-width: 1200px) {

    .project-heading-container {
        padding: 0;
    }

    .project-info-block-container {
        padding: 0;
    }

}