.profileImage {
    border-radius: 100%;
    width: 120px;
    height: 120px;
}

.home-hero-intro-container {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding-medium) 0;
    padding-bottom: 0;
    gap: var(--gap-sm);
    align-items: center;
    max-width: var(--content-max-width-narrow);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: center;
}

.project-card-wrapper {
    display: flex;
    padding: 1px;
    color: var(--button-primary-text);
    background: var(--brand-gradient-200);
    border-radius: var(--card-border-radius);
    animation: card-pop-out .5s cubic-bezier(.4,2,.6,1) forwards;
}

.project-card-wrapper:hover {
    position: relative;
    cursor: pointer;
    animation: card-pop-in .5s cubic-bezier(.4,2,.6,1) forwards;
}

.project-card > .image-wrapper > img{
    border-radius: 0;
}

.project-card {
    display: flex;
    top: 0px;
    position: relative;
    max-width: 1400px;
    background-color: var(--surface-primary-background);
    color: var(--surface-secondary-text);
    overflow: hidden;
    border-radius: var(--card-border-radius);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.project-card > .image-wrapper{
    background-color: var(--surface-secondary-background);
}

.project-card > .image-wrapper > img {
    height: 100%;
}

.project-card-body {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding-medium);
    gap: var(--gap-md);
    width: 50%;
}

.project-card-heading {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xs);
}

.project-skills-entry {
    display: flex;
    align-items: center;
    padding: 0 var(--gap-xs);
    background-color: var(--surface-tertiary-background);
    color: var(--surface-tertiary-text);
}

.project-skills-divider {
    margin: 0 var(--gap-sm);
    width: 1px;
    height: 1.3rem;
    background-color: var(--surface-primary-text);
}

@media screen and (max-width: 1200px){

    .project-card-wrapper {
        display: flex;
        padding: 1px;
        background: var(--brand-gradient-200-rotate-45);
        animation: card-pop-out .5s cubic-bezier(.4,2,.6,1) forwards;
    }

    .project-card-wrapper:hover {
        position: relative;
        cursor: pointer;
        animation: card-pop-in .5s cubic-bezier(.4,2,.6,1) forwards;
    }

    .project-card {
        width: 100%;
        flex-direction: column;
    }

    .project-card-body {
        width: auto;
    }

    .profileImage {
        border-radius: 100%;
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 768px){

    .home-hero-intro-container {
        padding: var(--container-padding-small) 0;
    }

    .home-hero-intro-container > .heading-sub {
        text-align: center;
    }

    .home-hero-intro-container > .body-large {
        text-align: center;
    }

    .hero-heading-container > .body-large{
        text-align: left;
    }

    .hero-heading-container {
        padding: 0;
        align-items: stretch;
    }
}