.hero-container > .image-wrapper {
    border-radius: var(--card-border-radius);
    background-color: var(--surface-tertiary-background);
    box-shadow: var(--card-shadow);
}

.hero-container > .link-wrapper {
    width: 100%;
}

.hero-intro-container > .body-large {
    text-align: center;
}

.project-hero-intro-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    max-width: var(--content-max-width-narrow);
}

.project-hero-heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-small);
}

.project-section-container {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding-medium) 0;
    gap: var(--gutter-medium);
    max-width: var(--content-max-width-wide);
    width: 100%;
}

.project-section-container-cols {
    display: flex;
    flex-direction: row;
    padding: var(--container-padding-medium) 0;
    gap: var(--gutter-medium);
    max-width: var(--content-max-width-wide);
    width: 100%;
}

.project-section-heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    width: 100%;
}

.project-section-content-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
    width: 100%;
}

.project-info-block-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-small);
    width: 100%;
}

.project-info-block-list-container-cols{
    display: flex;
    flex-direction: row;
    gap: var(--gutter-small);
}

.project-info-block-default {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-small);
    width: 100%;
}

.project-info-block-card {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-small);
    color: var(--surface-secondary-text);
    padding: var(--container-padding-small);
    border: 1px solid var( --border-divider);
    width: 100%;
}

.project-info-block-text {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-small);
}

.project-section-container > .three-dots-horizontal {
    justify-content: center;
}

.project-navigation-prev {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-10);
}

.project-navigation-next {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: end;
    gap: var(--spacing-10);
}

.project-navigation-next > .body-large {
    text-align: end;
}

/* Mobile, Tablet, Small Laptop*/
@media screen and (max-width: 1200px) {

    .project-hero-heading-container {
        padding: 0;
    }

    .project-section-heading-container {
        padding: 0;
    }

    .project-section-list-container {
        padding: 0;
    }

}