.project-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    top: 0px;
    position: relative;
    width: calc((100% - var(--gutter))/2);
    background-color: var(--surface-primary-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    overflow: hidden;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.project-card:hover {
    top: -5px;
    position: relative;
    box-shadow: var(--card-shadow-hover);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    cursor: pointer;
}

.project-card > .image-wrapper{
    /*delete later*/
    background-color: #ddd;
    height: 300px;
}

.project-card-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    padding: var(--card-padding);
    border: solid 1px var(--border-divider);
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
}

@media screen and (max-width: 768px){
    .project-card {
        width: 100%;
    }
}