#resume-container {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-primary-background);
    gap: var(--resume-gutter-large);
    padding: var(--container-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--container-shadow);
}

.resume-heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-medium);
}

.resume-top-container {
    display: flex;
    gap: var(--resume-gutter-large);
}

.resume-bottom-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-medium);
}

.resume-left-container  {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-medium);
}

.resume-right-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-medium);
    padding-top: var(--spacing-30);
}

.resume-contact-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-small);
}

.resume-contact-entry-container {
    display: flex;
    gap: var(--resume-gutter-smallest);
}

.resume-work-experience-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-medium);
}

.resume-profile-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-medium);
}

.resume-profile-entry-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-smallest);
}

.resume-project-container {
    display: flex;
    gap: var(--resume-gutter-medium);
}

.resume-project-entry-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--resume-gutter-small);
}

.resume-job-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--resume-gutter-small);
}

/*Typography*/

.resume-lead {
    display: flex;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 2.5px;
    color: var(--surface-primary-text);
    background-color: var(--surface-secondary-background);
    padding: 0 var(--spacing-5);
    height: 75px;
    width: fit-content;
    align-items: end;
    font-family: var(--headline-font-Family), sans-serif;
}

.resume-head {
    display: flex;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: var(--surface-primary-text);
    font-family: var(--heading-font-Family), sans-serif;
}

.resume-sub {
    display: flex;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 2.5px;
    color: var(--surface-primary-text);
    background-color: var(--surface-secondary-background);
    width: fit-content;
    font-family: var(--headline-font-Family), sans-serif;
}

.resume-flag {
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .5px;
    color: var(--surface-primary-text);
    font-family: var(--base-font-Family), sans-serif;
    font-weight: 300;
    flex-wrap: wrap;
}

.resume-brow {
    display: flex;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1px;
    color: var(--surface-primary-text);
    background-color: var(--surface-secondary-background);
    font-family: var(--headline-font-Family), sans-serif;
}

.resume-base {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 1.3rem;
    line-height: 2.3rem;
    letter-spacing: .3px;
    color: var(--surface-primary-text);
    font-weight: 300;
}

.resume-divider {
    margin: 0 var(--spacing-5);
}

@media screen and (max-width: 1200px) {

    .resume-top-container {
        flex-direction: column;
    }

    .resume-left-container {
        width: 100%;
    }

    .resume-right-container {
        width: 100%;
    }

    .resume-project-container {
        flex-direction: column;
    }

    .resume-lead {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .resume-head {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .resume-sub {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .resume-flag {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .resume-base {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .resume-divider {
        margin: 0 var(--spacing-5);
    }
}

@media print {
    /* Page Layouts */
    .container {
        background-color: var(--surface-primary-background);
    }

    .body-container {
        width: 100%;
    }

    .header-container {
        display: none;
    }

    .hero-container {
        display: none;
    }

    .content-container {
        padding: 0;
    }

    /* Resume */

    #resume-container {
        padding: 0 var(--spacing-30) var(--spacing-30) var(--spacing-30);
        box-shadow: none;
    }

    .resume-lead {
        font-size: 40px;
        line-height: 40px;
        font-family: var(--resume-font-Family), sans-serif;
    }

    .resume-head {
        font-size: 16px;
        line-height: 22px;
        font-family: var(--resume-font-Family), sans-serif;
    }

    .resume-sub {
        font-size: 14px;
        line-height: 22px;
        font-family: var(--resume-font-Family), sans-serif;
    }

    .resume-flag {
        font-size: 12px;
        line-height: 18px;
        font-family: var(--resume-font-Family), sans-serif;
    }

    .resume-brow {
        font-size: 12px;
        line-height: 18px;
        font-family: var(--resume-font-Family), sans-serif;
    }

    .resume-base {
        font-size: 11px;
        line-height: 18px;
        font-family: var(--resume-font-Family), sans-serif;
        color: var(--surface-primary-text);
        font-weight: 300;
    }

    .resume-divider {
        margin: 0 var(--spacing-5);
    }
    
}