#resume-container {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-secondary-background);
    color: var(--surface-secondary-text);
    gap: var(--resume-gutter-large);
    padding: var(--container-padding-medium);
    border-radius: var(--card-border-radius);
}

#logoBox {
    display: flex;
    align-items: center;
}

.resume-intro-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-small);
}

.resume-section-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-small);
}

.resume-contact-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--resume-gutter-smallest);
}

.resume-profile-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-smallest);
}

.resume-experiences-list-container, .resume-projects-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-medium);
}

.resume-entry-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-small);
}

.resume-entry-container.horizontal{
    flex-direction: row;
}

.resume-heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--resume-gutter-small);
}

#resume-container ul{
    gap: var(--gap-xxs);
    padding: 0;
    margin: 0 0 0 var(--gap-xs);
}

#resume-container li {
    list-style-type: square;
    font-weight: 300;
    max-width: none;
    border: none;
    margin: 0 0 0 var(--gap-xs);
    padding: 0 0 0 var(--gap-xs);
}

#resume-container li::marker{
    color: var(--motif-primary);
}

/*Typography*/
.resume-lead {
    display: flex;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: .5px;
    font-weight: 400;
    text-transform: uppercase;
    align-items: end;
    color: var(--surface-primary-text);
    font-family: var(--resume-font-Family), sans-serif;
}

.resume-head {
    display: flex;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--surface-primary-text);
    font-family: var(--resume-font-Family), sans-serif;
}

.resume-sub {
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: var(--resume-font-Family), sans-serif;
    font-weight: 500;
    color: var(--surface-primary-text);
    background-color: var(--surface-secondary-background);
    width: fit-content;
}

.resume-flag {
    display: flex;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: .5px;
    font-family: var(--resume-font-Family), sans-serif;
    color: var(--surface-primary-text);
    flex-wrap: wrap;
}

.resume-brow {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--surface-primary-text);
    background-color: var(--surface-secondary-background);
    font-family: var(--resume-font-Family), sans-serif;
}

.resume-base-bold {
    font-family: var(--resume-font-Family), sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: .3px;
    color: var(--surface-primary-text);
}

.resume-base {
    font-family: var(--resume-font-Family), sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: .3px;
    color: var(--surface-primary-text);
}

.resume-divider {
    margin: 0 var(--spacing-5);
}

@media screen and (max-width: 1200px) {

    .resume-divider {
        margin: 0 var(--spacing-5);
    }
}

@media screen and (max-width: 768px) {

    .resume-profile-list-container {
        gap: var(--resume-gutter-medium);
    }

    .resume-entry-container.horizontal {
        flex-direction: column;
    }

    #logoBox {
        display: none;
    }
}

@media print {
    /* Page Layouts */
    .body-container {
        width: 100%;
    }

    .header-container {
        display: none;
    }

    .hero-container {
        display: none;
    }

    .content-container {
        padding: 0;
    }

    /* Resume */
    #resume-container {
        background-color: var(--surface-primary-background);
        padding: var(--spacing-30);
        gap: var(--resume-gutter-small);
        box-shadow: none;
    }

    .resume-intro-container {
        gap: var(--resume-gutter-smallest);
    }

    .resume-section-container {
        display: flex;
        flex-direction: column;
        gap: var(--resume-gutter-smallest);
    }

    .resume-experiences-list-container, .resume-projects-list-container {
        gap: var(--resume-gutter-small);
    }

    .resume-entry-container {
        display: flex;
        width: 100%;
        gap: var(--resume-gutter-smallest);
    }

    #resume-container ul{
        gap: var(--gap-xxs);
        margin: 0 0 0 var(--gap-xxs);
    }

    #resume-container li {
        padding: 0;
    }

    .resume-divider {
        margin: 0 var(--spacing-5);
    }

    /*Typography*/

    .resume-lead {
        font-weight: 600;
    }

    .resume-head {
        font-weight: 500;
    }

    .resume-sub {
        font-weight: 600;
    }

    .resume-flag {
        font-weight: 600;
    }

    .resume-base-bold {
        font-weight: 600;
    }
    
}