@import url(threeDots.css);
@import url(menu.css);
@import url(logo.css);
@import url(interactive.css);
@import url(typography.css);
@import url(layout.css);
@import url(globalNav.css);
@import url(portfolioHome.css);
@import url(resume.css);
@import url(about.css);
@import url(portfolioProject.css);
@import url(passwordForm.css);

:root {
    /* brand colors*/
    --brand-beige-50: rgb(194, 187, 176, 0.2);
    --brand-beige-100: #f9f8f6;
    --brand-beige-200: rgb(194, 187, 176);
    --brand-beige-300: #806f66;
    --brand-beige-400: rgb(84, 71, 63);
    --brand-gradient-300: linear-gradient(45deg, var(--brand-beige-300) 0%, var(--brand-beige-200) 25%, var(--brand-beige-100) 50%, var(--brand-beige-200) 75%, var(--brand-beige-300) 100%);
    --brand-gradient-200: linear-gradient(90deg, var(--brand-beige-50) 0%, var(--brand-beige-100) 25%, var(--brand-beige-200) 75%, var(--brand-beige-300) 100%);
    --brand-gradient-200-rotate-45: linear-gradient(160deg, var(--brand-beige-50) 0%, var(--brand-beige-100) 25%, var(--brand-beige-200) 75%, var(--brand-beige-300) 100%);
   
    /* grayscale colors*/
    --brand-grayscale-900: #212121;
    --brand-grayscale-800: #2a2a2a;
    --brand-grayscale-700: #333333;
    --brand-grayscale-600: #666666;
    --brand-grayscale-500: #777777;
    --brand-grayscale-400: #888888;
    --brand-grayscale-300: #dddddd;
    --brand-grayscale-200: #efefef;
    --brand-grayscale-100: #f2f2f2;
    --brand-black: #121212;
    --brand-white: #fff;
    
    /* breakpoints */
    --desktop: 1960px;
    --laptop: 1440px;
    --tablet: 786px;
    --mobile: 360px;

    /* spacing */
    --spacing-160: 160px;
    --spacing-120: 120px;
    --spacing-100: 100px;
    --spacing-80: 80px;
    --spacing-60: 60px;
    --spacing-40: 40px;
    --spacing-30: 30px;
    --spacing-25: 25px;
    --spacing-20: 20px;
    --spacing-15: 15px;
    --spacing-10: 10px;
    --spacing-5: 5px;

    /* fonts */
    --base-font-size: 15px;
    --base-font-height: 20px;
    --base-font-Family: "Jost";
    --heading-font-Family: "Jost";
    --headline-font-Family: "Italiana";

    /* base font */
    font-size: var(--base-font-size);
    line-height: var(--base-font-height);
    color: var(--surface-primary-text);

    /* content */
    --content-max-width-narrow: 900px;
    --content-max-width-wide: 1260px;

    /* motif */
    --motif-primary: var(--brand-beige-300);
    --motif-secondary: var(--brand-beige-200);
    --motif-tertiary: var(--brand-beige-200);

    /* Semantic colors */
    --surface-primary-background: var(--brand-white);
    --surface-primary-text: var(--brand-grayscale-700);
    --surface-primary-heading: var(--brand-grayscale-700);
    --surface-primary-subheading: var(--brand-green-300);
    --surface-primary-link: var(--brand-beige-400);
    
    --surface-secondary-background: var(--brand-beige-100);
    --surface-secondary-text: var(--brand-grayscale-700);
    --surface-secondary-heading: var(--brand-beige-400);

    --surface-tertiary-background: var(--brand-beige-100);
    --surface-tertiary-text: var(--brand-grayscale-700);
    --surface-tertiary-heading: var(--brand-grayscale-700);

    --surface-quaternary-background: var(--brand-beige-400);
    --surface-quaternary-text: var(--brand-white);
    --surface-quaternary-heading: var(--brand-white);

    /* Button colors */
    --button-primary-background: var(--brand-white);
    --button-primary-text: var(--brand-beige-300);

    --button-secondary-background: var(--brand-white);
    --button-secondary-text: var(--brand-green-300);

    --link-primary-text: var(--brand-beige-400);
    --link-secondary-text: var(--brand-green-300);

    /* Notification Banner */
    --notification-background: var(--brand-purple-400);
    --notification-text: var(--brand-white);

    /* border & divider */
    --border-divider: var(--brand-beige-200);
    --border-divider-hover: var(--brand-beige-300);
    --border-input: var(--brand-grayscale-400);
    --border-input-hover: var(--brand-grayscale-300);

    /* overlay */
    --overlay: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

    /* shadow */
    --container-shadow: 0px 0px 5px var(--brand-grayscale-200);
    --card-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    --card-shadow-hover: 0px 5px 10px -2.5px var(--brand-grayscale-400);
    --mobile-header-shadow: 5px 0px 5px 0px var(--brand-grayscale-200);

    /* base spacing */
    --gap-xxs: var(--spacing-5);
    --gap-xs: var(--spacing-10);
    --gap-sm: var(--spacing-20);
    --gap-md: var(--spacing-40);
    --gap-l: var(--spacing-60);
    --gap-xl: var(--spacing-80);
    --gap-xxl: var(--spacing-120);
    
    --container-padding-smallest: var(--spacing-20);
    --container-padding-small: var(--spacing-40);
    --container-padding-medium: var(--spacing-80);
    --container-padding-large: var(--spacing-160);
    --button-spacing: var(--spacing-20) var(--spacing-30) var(--spacing-20) var(--spacing-30);

    /* resume */
    --resume-font-Family: "Jost";
    --resume-gutter-smallest: var(--spacing-5);
    --resume-gutter-small: var(--spacing-10);
    --resume-gutter-medium: var(--spacing-20);
    --resume-gutter-large: var(--spacing-40);

    /* border radius */
    --button-border-radius: var(--gap-l);
    --card-border-radius: 10px;
    --icon-border-radius: 50%;

    @media (prefers-color-scheme: dark) {

        /* brand colors*/
        --brand-beige-50: rgb(0, 0, 0, 0.2);
    
        /* motif */
        --motif-primary: var(--brand-beige-100);
        --motif-secondary: var(--brand-beige-100);
        --motif-tertiary: var(--brand-beige-100);
    
        /* Semantic colors */
        --surface-primary-background: var(--brand-grayscale-900);
        --surface-primary-text: var(--brand-white);
        --surface-primary-heading: var(--brand-white);
        --surface-primary-subheading: var(--brand-white);
        --surface-primary-link: var(--brand-white);
        
        --surface-secondary-background: var(--brand-grayscale-800);
        --surface-secondary-text: var(--brand-white);
        --surface-secondary-heading: var(--brand-white);

        --surface-tertiary-background: var(--brand-black);
        --surface-tertiary-text: var(--brand-white);
        --surface-tertiary-heading: var(--brand-white);

        --surface-quaternary-background: var(--brand-white);
        --surface-quaternary-text: var(--brand-grayscale-900);
        --surface-quaternary-heading: var(--brand-grayscale-900);

        /* Button colors */
        --button-primary-background: var(--brand-grayscale-900);
        --button-primary-text: var(--brand-white);

        --button-secondary-background: var(--brand-grayscale-900);
        --button-secondary-text: var(--brand-white);

        --link-primary-text: var(--brand-white);
        --link-secondary-text: var(--brand-white);
    
        /* Notification Banner */
        --notification-background: var(--brand-purple-400);
        --notification-text: var(--brand-white);

        /* border & divider */
        --border-divider: var(--brand-grayscale-700);
        --border-divider-hover: var(--brand-grayscale-600);
        --border-input: var(--brand-grayscale-400);
        --border-input-hover: var(--brand-grayscale-300);
    
        /* overlay */
        --overlay: linear-gradient(0deg, rgba(33,33,33,1) 5%, rgba(33,33,33,0) 100%);
    
        /* shadow */
        --container-shadow: 0px 0px 5px var(--brand-black);
        --card-shadow: 0 5px 20px 0 var(--brand-black);
        --card-shadow-hover: 0px 5px 10px -2.5px var(--brand-black);
        --mobile-header-shadow: 5px 0px 5px 0px var(--brand-black);
    }

}

@media screen and (max-width: 768px) {
    :root {

        --base-font-size: 14px;
        --base-font-height: 28px;

        --gutter: var(--spacing-30);
        --gutter-small: var(--spacing-15);
        --gutter-medium: var(--spacing-40);

        --gap-xxs: var(--spacing-5);
        --gap-xs: var(--spacing-10);
        --gap-sm: var(--spacing-15);
        --gap-md: var(--spacing-20);
        --gap-l: var(--spacing-40);
        --gap-xl: var(--spacing-80);

        --container-padding-small: var(--spacing-30);
        --container-padding-medium: var(--spacing-40);
        --container-padding-large: var(--spacing-80);

        --resume-gutter-smallest: 0;
        --resume-gutter-small: var(--spacing-5);
        --resume-gutter-medium: var(--spacing-20);
        --resume-gutter-large: var(--spacing-30);
        --button-spacing: var(--spacing-20) var(--spacing-20) var(--spacing-15) var(--spacing-20);
    }
}

@media print {
    :root {
        /* fonts */
        --base-font-size: 10px;
        --base-font-height: 15px;
        --resume-font-Family: "Arial";
        --resume-gutter-smallest: var(--spacing-5);
        --resume-gutter-small: var(--spacing-10);
        --resume-gutter-medium: var(--spacing-15);
        --resume-gutter-large: var(--spacing-30);
    }
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-VariableFont_wght.ttf');
    font-weight: 300 400 600;
}

@font-face {
    font-family: 'Italiana';
    src: url('/fonts/Italiana-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--surface-primary-background);
    margin: 0;
    padding: 0;
}

p {
    max-width: 800px;
    padding: 0;
    margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}


img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

mark {
    background-color: var(--surface-secondary-background);
    color: var(--surface-secondary-text);
}

ul {
    display: flex;
    flex-direction: column;
}

button{
    background: none;
    border: none;
    padding-block: 0px;
    padding-inline: 0px;
}

.image-wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-wrapper > img {
    border-radius: var(--card-border-radius);
}

.video-wrapper {
    position: relative;
    overflow: hidden;
}

.video-wrapper > video {
    border-radius: var(--card-border-radius);
}

.overlay {
    position: absolute;
    background: var(--overlay);
    width: 100%;
    height: 200px;
    bottom: 0;
}

p, div, img {
  animation-name: loadMore;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

/* Animations */
@keyframes pop-in {
    0% {
        scale: 1;
        box-shadow: 0 0 1px 0px var(--brand-beige-50);
    }
    50% {
        scale: 1.05;
        box-shadow: 0 0 1px 6px var(--brand-beige-50);
    }
    100% {
        scale: 1.03;
        box-shadow: 0 0 1px 5px var(--brand-beige-50);
    }
}

@keyframes pop-out {
    0% {
        scale: 1.03;
        box-shadow: 0 0 1px 5px var(--brand-beige-50);
    }

    100% {
        scale: 1;
        box-shadow: 0 0 1px 0px var(--brand-beige-50);
    }
}

@keyframes card-pop-in {
    0% {
        scale: 1;
        box-shadow: 0 0 1px 0px var(--brand-beige-50);
    }

    50% {
        scale: 1.01;
        box-shadow: 0 0 1px 2px var(--brand-beige-50);
    }

    100% {
        scale: 1.01;
        box-shadow: 0 0 1px 0px var(--brand-beige-50);
    }

}

@keyframes card-pop-out {
    0% {
        scale: 1.01;
        box-shadow: 0 0 1px 0px var(--brand-beige-50);
    }

    100% {
        scale: 1;
        box-shadow: 0 0 1px 0px var(--brand-beige-50);
    }
}

@keyframes loadMore {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}