@import url(threeDots.css);
@import url(menu.css);
@import url(logo.css);
@import url(interactive.css);
@import url(typography.css);
@import url(layout.css);
@import url(globalNav.css);
@import url(portfolioHome.css);
@import url(resume.css);
@import url(outsideWork.css);
@import url(portfolioProject.css);

:root {
    /* brand colors*/
    --brand-purple-100: #ebe0e8;
    --brand-purple-200: #d2c5d3;
    --brand-purple-300: #7e5172;
    --brand-green-100: #e6eedd;
    --brand-green-200: #617246;
    --brand-green-300: #314021;
    --brand-beige-100: #f9f8f6;
    --brand-beige-200: #ebe9e6;
    --brand-beige-300: #c2bbb0;
    --brand-gradient-100: linear-gradient(45deg, var(--brand-green-100) 0%, var(--brand-purple-100) 25%, var(--brand-beige-100) 50%, var(--brand-purple-100) 75%, var(--brand-green-100) 100%);
    --brand-gradient-200: linear-gradient(45deg, var(--brand-green-200) 0%, var(--brand-purple-200) 25%, var(--brand-beige-200) 50%, var(--brand-purple-200) 75%, var(--brand-green-200) 100%);
    --brand-gradient-300: linear-gradient(45deg, var(--brand-green-300) 0%, var(--brand-purple-300) 25%, var(--brand-beige-300) 50%, var(--brand-purple-300) 75%, var(--brand-green-300) 100%);
   
    /* grayscale colors*/
    --brand-grayscale-400: #444444;
    --brand-grayscale-300: #555;
    --brand-grayscale-200: #ddd;
    --brand-grayscale-100: #ededed;
    --brand-black: #000;
    --brand-white: #fff;
    
    /* breakpoints */
    --desktop: 1960px;
    --laptop: 1440px;
    --tablet: 786px;
    --mobile: 360px;

    /* spacing */
    --spacing-120: 120px;
    --spacing-100: 100px;
    --spacing-80: 80px;
    --spacing-60: 60px;
    --spacing-40: 40px;
    --spacing-30: 30px;
    --spacing-25: 25px;
    --spacing-20: 20px;
    --spacing-15: 15px;
    --spacing-10: 10px;
    --spacing-5: 5px;

    /* fonts */
    --base-font-size: 15px;
    --base-font-height: 20px;
    --base-font-Family: "Jost";
    --heading-font-Family: "Jost";
    --headline-font-Family: "Italiana";

    /* base font*/
    font-size: var(--base-font-size);
    line-height: var(--base-font-height);
    color: var(--surface-primary-text);

    /* Semantic colors */
    --surface-primary-background: var(--brand-white);
    --surface-primary-text: var(--brand-grayscale-300);
    --surface-primary-heading: var(--brand-grayscale-400);
    --surface-primary-subheading: var(--brand-green-300);
    --surface-primary-link: var(--brand-purple-300);
    
    --surface-secondary-background: var(--brand-beige-100);
    --surface-secondary-text: var(--brand-grayscale-300);
    --surface-secondary-heading: var(--brand-purple-300);

    --button-primary-background: var(--brand-white);
    --button-primary-text: var(--brand-purple-300);

    --button-secondary-background: var(--brand-white);
    --button-secondary-text: var(--brand-green-300);

    --link-primary-text: var(--brand-purple-300);
    --link-secondary-text: var(--brand-green-300);

    /* motif */
    --motif-primary: var(--brand-purple-300);
    --motif-secondary: var(--brand-green-200);
    --motif-tertiary: var(--brand-purple-200);

    /* divider */
    --border-divider: var(--brand-beige-200);
    --border-divider-hover: var(--brand-beige-300);

    /* overlay */
    --overlay: rgb(255, 255, 255,.8);

    /* shadow */
    --container-shadow: 0px 0px 5px var(--brand-grayscale-200);
    --card-shadow: 0px 0px 2.5px 0px var(--brand-grayscale-400);
    --card-shadow-hover: 0px 5px 10px -2.5px var(--brand-grayscale-400);
    --mobile-header-shadow: 5px 0px 5px 0px var(--brand-grayscale-200);

    /* base spacing */
    --gutter: var(--spacing-20);
    --container-padding: var(--spacing-80);
    --button-spacing: var(--spacing-20) var(--spacing-30) var(--spacing-15) var(--spacing-30);
    --card-padding: var(--spacing-60) var(--spacing-40);

    /* resume */
    --resume-font-Family: "Arial";
    --resume-gutter: var(--spacing-40);

    /* border radius */
    --button-border-radius: 0;
    --card-border-radius: 0.33rem;
    --icon-border-radius: 50%;

}

@media screen and (max-width: 768px) {
    :root {
        --container-padding: var(--spacing-40) var(--spacing-30);
        --card-padding: var(--spacing-30) var(--spacing-20);
        --gutter: var(--spacing-40);
        --resume-gutter: var(--spacing-20);
        --button-spacing: var(--spacing-20) var(--spacing-20) var(--spacing-15) var(--spacing-20);
    }
}

@font-face {
    font-family: 'Jost';
    src: url('/src/assets/fonts/Jost-VariableFont_wght.ttf');
    font-weight: 300 400 600;
}

@font-face {
    font-family: 'Italiana';
    src: url('/src/assets/fonts/Italiana-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

p {
    max-width: 860px;
    padding: 0;
    margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}


img {
    width: 100%;
    height: 100%;
}

input {
    font-family: var(--base-font-Family), sans-serif;
}

mark {
    background-color: var(--surface-secondary-background);
    color: var(--surface-secondary-text);
}

ul {
    padding: 0 var(--spacing-10);
    margin: 0;
}

li {
    margin: 0 0 0 var(--spacing-10);
    padding: 0 0 0 var(--spacing-5);
}

li::marker {
    color: var(--brand-purple-300);
}

.input-field {
    background-color: var(--surface-primary-background);
    border: var(--surface-primary-text);
    color: var(--surface-primary-text);
    border-radius: 50px;
    padding: 10px 16px;
}

.image-wrapper {
    aspect-ratio: 2/1;
    position: relative;
    width: 100%;
}