@import url(layout.css);
@import url(threeDots.css);
@import url(header.css);
@import url(interactive.css);
@import url(typography.css);
@import url(portfolioProject.css);
@import url(projectCard.css);
@import url(resume.css);

:root {
    /* color */
    --purple-light: #DFDBE4;
    --purple: #9A8EA9;
    --purple-dark: #695E75;
    --green-light: #4c7487;
    --green-dark: #1f3d4d;
    --beige: #f7f4ed;
    --cloud: #F2F6F7;
    --cloud-40: rgb(242, 246, 247, .4);
    --gray-dark: #444;
    --gray: #666;
    --gray-light: #ddd;
    --gray-lighter: #ededed;
    --black: #000;
    --white: #fff;

    /* breakpoints */
    --desktop: 1960px;
    --laptop: 1440px;
    --tablet: 786px;
    --mobile: 360px;

    /* spacing */
    --spacing-80: 80px;
    --spacing-60: 60px;
    --spacing-40: 40px;
    --spacing-30: 30px;
    --spacing-25: 25px;
    --spacing-20: 20px;
    --spacing-15: 15px;
    --spacing-10: 10px;
    --spacing-5: 5px;

    /* base spacing */
    --container-padding: var(--spacing-80);
    --card-padding: var(--spacing-40);
    --gutter: 40px;
    --resume-gutter: var(--spacing-10);
    --card-border-radius: 10px;
    --button-spacing: var(--spacing-25) var(--spacing-40) var(--spacing-20) var(--spacing-40);
    --button-border-radius: 5px;

    /* fonts */
    --base-font-size: 15px;
    --base-font-height: 25px;
    --base-font-Family: "Jost";
    --heading-font-Family: "Josefin Sans";
    --headline-font-Family: "Water Brush";
    --resume-font-Family: "Arial";

    /* base font*/
    font-size: var(--base-font-size);
    line-height: var(--base-font-height);
    color: var(--gray-dark);
}

@media screen and (max-width: 768px) {
    :root {
        --container-padding: var(--spacing-40) var(--spacing-20);
        --card-padding: var(--spacing-30) var(--spacing-20);
        --gutter: var(--spacing-30);
        --resume-gutter: var(--spacing-20);
        --button-spacing: var(--spacing-20) var(--spacing-20) var(--spacing-15) var(--spacing-20);
    }
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
    font-weight: 600;
}

@font-face {
    font-family: 'Jost';
    src: url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@300;400&display=swap');
    font-weight: 300 400;
}

@font-face {
    font-family: 'Water Brush';
    src: url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap" rel="stylesheet');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

p {
    max-width: 860px;
    padding: 0;
    margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}


img {
    width: 100%;
    height: 100%;
}

input {
    font-family: var(--base-font-Family), sans-serif;
}

mark {
    background-color: var(--purple-light);
    color: var(--gray-dark);
    font-weight: 400;
}

ul {
    padding: 0 var(--spacing-10);
    margin: 0;
}

.input-field {
    background-color: white;
    border: white;
    color: var(--gray-dark);
    border-radius: 50px;
    padding: 10px 16px;
}

.image-wrapper{
    position: relative;
    margin: 0;
}