.dot-1 {
    background-color: var(--motif-primary);
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

.dot-2 {
    background-color: var(--motif-secondary);
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

.dot-3 {
    background-color: var(--motif-tertiary);
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

/* Three Dots Horizontal; 
   Can be found in header links */

.three-dots-horizontal {
    display: flex;
    gap: 5px;
}

/* Three Dots Vertical
Can be found on project page in hero container and on project card */

.three-dots-vertical{
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    -webkit-transition: 300ms ease-out ;
    -moz-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
    transition: 300ms ease-out;
}

.three-dots-vertical > .dot-1 {
    top: 5px;
    position: relative;
}

.three-dots-vertical > .dot-3 {
    top: -5px;
    position: relative;
}