.heading-headline {
    font-family: var(--headline-font-Family), serif;
    font-size: 4.5rem;
    line-height: 5.5rem;
    letter-spacing: 2.5px;
    color: var(--motif-primary);
}

.heading-headline > #hello {
    color: var(--surface-primary-heading);
}

.heading-headline > #name {
    color: inherit;
}

.heading-lead {
    font-family: var(--headline-font-Family), sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 2.5px;
    color: var(--surface-primary-heading);
}

.heading-head {
    font-family: var(--headline-font-Family), sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 1.5px;
    font-weight: 300;
    color: var(--surface-primary-subheading);
}


.heading-sub {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300;
    letter-spacing: .5px;
    color: var(--surface-primary-heading);
}


.heading-flag {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .5px;
    color: var(--surface-primary-subheading);
}

.heading-brow {
    font-family: var(--heading-font-Family), sans-serif;
    font-size: 1.1rem;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--surface-secondary-subheading);
}


.body-large {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: .3px;
    font-weight: 300;
    max-width:900px;
}


.body-base {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .2px;
    font-weight: 300;
    max-width: 900px;
}


.body-small {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    max-width: 600px
}

.tag {
    color: var(--surface-primary-text);
    background-color: var(--surface-secondary-text);
    font-family: var(--base-font-Family), sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    border: var(--border-divider) solid 1px;
    border-radius: 50px;
    margin: 0 8px 8px 0;
    padding: 8px 16px;
}


.tag:hover {
    border: var(--border-divider) solid 1px;
}


.caption {
    background-color: RGB(255,255,255,.8);
    color: var(--surface-secondary-text);
    padding: 8px 16px;
    border-radius: 10px;
    position: absolute;
    bottom:16px;
    left: 16px;
    font-family: var(--base-font-Family), sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.bulletPoints {
    display: flex;
    flex-direction: column;
    width:100%;
    gap: var(--spacing-10);
}

@media screen and (max-width: 1200px) {

    .heading-headline{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .heading-lead {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    

    .heading-head {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .heading-sub {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .heading-flag {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .body-large {
        font-family: var(--base-font-Family), sans-serif;
        font-size: 1.2rem;
        line-height: 2rem;
        letter-spacing: .3px;
        font-weight: 300;
        color: var(--surface-primary-text);
        max-width:900px;
    }
}