.heading-headline {
    font-family: var(--headline-font-Family), serif;
    font-size: 6rem;
    line-height: 6.5rem;
    letter-spacing: 2.5px;
    color: var(--brand-purple-300);
}

.heading-headline > #hello {
    color: var(--brand-grayscale-400);
    
}

.heading-headline > #name {
    color: inherit;
}

.heading-lead {
    font-family: var(--headline-font-Family), sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 2.5px;
    color: var(--surface-primary-heading);
}

.heading-head {
    font-family: var(--headline-font-Family), sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--surface-primary-heading);
}


.heading-sub {
    font-family: var(--headline-font-Family), sans-serif;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1.5px;
    color: var(--surface-secondary-heading);
}


.heading-flag {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: var(--surface-primary-heading);
    
}

.heading-brow {
    font-family: var(--heading-font-Family), sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--surface-secondary-heading);
    
}


.body-large {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    color: var(--surface-primary-text);
    max-width: 900px
}


.body-base {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--surface-primary-text);
    max-width: 600px
}


.body-small {
    font-family: var(--base-font-Family), sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: var(--surface-primary-text);
    max-width: 400px
}

.tag {
    color: var(--surface-primary-text);
    background-color: var(--surface-secondary-text);
    font-family: var(--base-font-Family), sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    border: var(--border-divider) solid 1px;
    border-radius: 50px;
    margin: 0 8px 8px 0;
    padding: 8px 16px;
}


.tag:hover {
    border: var(--border-divider) solid 1px;
}


.caption {
    background-color: RGB(255,255,255,.8);
    color: var(--gray-dark);
    padding: 8px 16px;
    border-radius: 10px;
    position: absolute;
    bottom:16px;
    left: 16px;
    font-family: var(--base-font-Family), sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    .heading-headline{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .heading-lead {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    

    .heading-head {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    

    .heading-sub {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .heading-flag {
        font-size: 1.2rem;
        line-height: 2rem;
    }

}